---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About av10</title>
</head>

<body class="min-h-screen bg-slate-50 dark:bg-black">
		<Header/>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I was using Hunt and Peck method since I was born. When I started to practice, Touch Typing I thought this is one of the best way to boost the productivity. At the beginning, my fingers shivered like nervous disorder. Now, this is my favorite method to type than as a hunter...</p>&mdash; Aravind Miras (@aravinddaayt) <a href="https://twitter.com/aravinddaayt/status/1403220729634562052?ref_src=twsrc%5Etfw">June 11, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7014885660729712641" height="588" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/yrHQka9XchA?autoplay=1">
        </iframe>
		<Footer/>
</body>
</html>