---
import Cards from "./Cards.astro";
---
<h2 class="max-w-md text-5xl font-bold text-center sm:text-5sl sm:text-left text-slate-900 dark:text-white duration-700 relative transform opacity-0 transition-all translate-y-12 ease-out" data-replace='{ "translate-y-12": "translate-y-0", "opacity-0": "opacity-100" }'>
    Projects By av10	
</h2> <br> <br>
<div class="grid grid-cols-2 gap-4">
<Cards title="Dashboard for Aircrafts" caption="To design and maintain dashboard of airplanes and jets for various scales" image="./sources/dashboard.jpg"/>
<Cards title="Drones For Purposes" caption="Designing drone for specific function along with Drone-Management-System" image="./sources/drone.jpg"/>
<Cards title="Gandiva" caption="Fully Powered Long-Range Solar Electric Vehicle" image="./sources/gandiva.jpg"/>
<Cards title="Propulsion system for Rockets" caption="To design an efficient propulsion system for rockets and jets" image="./sources/rocket.jpg"/>
</div>